<div class="container">

    

    <% if @articles.blank? %>
    <div class="text-center">
        <span style="font-size: 20px;">No articles were found..</span>
    </div>
    <% else %>
    <div class="row" id="all-articles">
        <% if signed_in? && @user == current_user %>
        <div class="right-half">
            <div class="user-card" >
                <!-- <i class="fa fa-user-circle fa-2x" aria-hidden="true", id="user_profile"></i> -->
                <h3 class="card-title", id="user_about_card_name"><b><%= @user.username %></b></h3>
                <div class="card-text", id="user_about_card_city"><%= @user.city %></div>
                <div class="card-text", id="user_about_card_state"><%= @user.state %></div>
                <div class="follow-icon", id="user_about_card_follow_icon">
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-github"></i>
                </div>
            </div>
        </div>
        <!-- <div class="col-0">
            <span class="title my-2 d-block-inline">
                <span class="mx-2">
                    <h5><strong><%= @user.username %></strong></h5>
                </span>
                <span class="user-bio mt-2">
                    <%= "Hi! My name is #{@user.username}!" %>
                </span>
            </span>
            <% if current_user %>
                <% if current_user.id == @user.id %>
                <%= link_to "Edit profile", edit_user_registration_path, class: 'btn btn-primary mb-3 ml-2' %>
                <% end %>
            <% end %>
        </div> -->
        <% end %>



            <% @articles.each do |article| %>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12  my-2">
                <div class="card">
                    <%= link_to article_path(article.id) do %>
                    <%# image_tag(article.photo, class:"card-img-top", style:"max-height: 150px;") if article.photo.attached? %>
                    <% end %>
                    <div class="card-body">
                        <strong class="p-2 author-name"> <%= article.user.username %> </strong>
                        <%= link_to article_path(article.id) do %>
                        <h4 class="text-dark title mt-3 mb-2"><strong> <%= article.title %> </strong></h4>
                        <% end %>
                        <p class="my-2 card-text"><%= truncate(strip_tags(article.description.to_s), length: 50) %></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated <%= time_ago_in_words(article.updated_at) %> ago</small>
                    </div>
                </div>
            </div>
            <% end %>

    </div>
    <% end %>
</div>


