<div class="container">
    <% if @articles.blank? %>
        <div class="text-center">
            <span style="font-size: 20px;">No articles were found..</span>
        </div>
    <% else %>
        <div class="row" id="all-articles">
            <% if signed_in? && @user == current_user %>
                <div class="right-half">
                    <div class="user-card" >
                        <h3 class="card-title", id="user_about_card_name"><b><%= @user.username %></b></h3>
                        <div class="card-text", id="user_about_card_city"><%= @user.city %></div>
                        <div class="card-text", id="user_about_card_state"><%= @user.state %></div>
                        <div class="follow-icon", id="user_about_card_follow_icon">
                            <i class="fab fa-linkedin"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-github"></i>
                        </div>
                    </div>
                </div>
            <% end %>
            <% @articles.each do |article| %>
                <div class="col-xl-6 col-lg-4 col-md-4 col-sm-6 col-12  my-2">
                    <div class="card shadow p-2 mb-4 bg-white rounded">
                        <%= link_to article_path(article.id) do %>
                        <%# image_tag(article.photo, class:"card-img-top", style:"max-height: 150px;") if article.photo.attached? %>
                        <% end %>
                        <div class="card-body">
                            <strong class="p-2 author-name"> <%= article.user.username %> </strong>
                            <%= link_to article_path(article.id) do %>
                            <h4 class="text-dark title mt-3 mb-2"><strong> <%= truncate(strip_tags(article.title.to_s), length: 38) %> </strong></h4>
                            <% end %>
                            <p class="my-2 card-text"><%= truncate(strip_tags(article.description.to_s), length: 50) %></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><%= (article.created_at).strftime("%B, %d, %Y")%></small>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>


