<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/6.4.1/css/intlTelInput.css">

<!-- Use as a jQuery plugin -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput-jquery.min.js"></script> 

<div class="container">
    <%# form_with is used for https method. Only 'Model' should be used in edit action. local is used for local https request.%>
    <div class="row justify-content-center">
        <div class="col-12">
            <%= render 'shared/errors', obj: @user %>
            <%= form_with(model: @user, class: "shadow p-3 mb-3 bg-info rounded",  local: true, id: "user_base") do |f| %>
                <div class="form-group row">
                    <%= f.label :username, class: "col-sm-2 col-form-label text-light" %>
                    <div class="col-sm-10">
                        <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Enter a username" %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :email, class: "col-sm-2 col-form-label text-light" %>
                    <div class="col-sm-10">
                        <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Enter your email address" %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :password, class: "col-sm-2 col-form-label text-light" %>
                    <div class="col-sm-10">
                        <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Choose a password" %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :confirm_password, class: "col-sm-2 col-form-label text-light" %>
                    <div class="col-sm-10">
                        <%= f.password_field :confirm_password, class: "form-control shadow rounded", placeholder: "Enter the password again" %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :Phone_number, class: "col-sm-2 col-form-label text-light" %>
                    <div class="col-sm-10">
                        <%= f.number_field :phone_number, type: "tel", class: "form-control shadow rounded", placeholder: "Enter phone number" %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :city, class: "col-sm-2 col-form-label text-light" %>
                    <div class="col-sm-10">
                        <%= f.text_field :city, class: "form-control shadow rounded", placeholder: "Enter city name" %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :state, class: "col-sm-2 col-form-label text-light" %>
                    <div class="col-sm-10">
                        <%= f.text_field :state, class: "form-control shadow rounded", placeholder: "Enter state name" %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :zip_code, class: "col-sm-2 col-form-label text-light" %>
                    <div class="col-sm-10">
                        <%= f.text_field :zip_code, class: "form-control shadow rounded", placeholder: "Enter area zip code" %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :country, class: "col-sm-2 col-form-label text-light" %>
                    <div class="col-sm-10">
                        <%= f.country_select :country_code, class: "form-control" %>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <%= f.submit(@user.new_record? ? "Sign up" : "Update account" ,class: "btn btn-outline-light btn-lg") %>
                </div>
            <% end %>
        </div>
    </div>
</div>