<h1 class="text-center mt-4">Categories</h1>

<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>


<div class="container-fluid mt-4">
  <div class="row" id="all-articles">
    <% @categories.each do |category| %>
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12  my-2">
      <div class="card">

          <div class="card-body">

            <%= link_to categories_path do %>
            <h4 class="text-dark title mt-3 mb-2"><strong> <%= link_to category.name, category_path(category), class: "text-success" %> </strong></h4>
            <% end %> 
            <p class="my-2 card-text"><%= pluralize(category.articles.count, "article") %></p>
        </div>
        <div class="card-footer">
          <small>Created <%= time_ago_in_words(category.created_at) %> ago,
            edited <%= time_ago_in_words(category.updated_at) %> ago</small>
        </div>
      </div>
    </div>

    <% end %>
  </div>
</div>

<div class="flickr_pagination mb-4">
  <%= will_paginate @categories, :container => false %>
</div>
